{% extends 'base.html' %}

{% block head %}
<title>Riset Janin</title>
{% endblock %}

{% block body %}
<div class="container-contact100">
    <div class="wrap-contact100">
        <form class="contact100-form validate-form" action="/" method="POST">
            <span class="contact100-form-title">
                Prediksi Janin
            </span>

            <div class="wrap-input100 validate-input">
                <span class="label-input100">Accelerations</span>
                <span class="tooltiptext">Jumlah percepatan denyut jantung janin perdetik.</span>
                <input class="input100" type="text" placeholder="Masukan nilai akselerasi" name="accelerations" id= "accelerations" required>
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input" >
                <span class="label-input100">Fetal Movement</span>
                <span class="tooltiptext">Jumlah pergerakan fisik janin perdetik.</span>
                <input class="input100" type="text" placeholder="Masukan nilai movement" name="movement" id="movement" required>
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input" >
                <span class="label-input100">Uterine Contractions</span>
                <span class="tooltiptext">Jumlah kontraksi rahim perdetik.</span>
                <input class="input100" type="text" placeholder="Masukan nilai kontraksi uternine" name="uterine" id="uterine" required>
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input" >
                <span class="label-input100">Light Decelerations</span>
                <span class="tooltiptext">Jumlah penurunan singkat denyut jantung rahim perdetik.</span>
                <input class="input100" type="text" placeholder="Masukan nilai light decelerations" name="light" id="light" required>
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input" >
                <span class="label-input100">Severe Decelerations</span>
                <span class="tooltiptext">Jumlah penurunan yang signifikan dalam denyut jantung janin perdetik.</span>
                <input class="input100" type="text" placeholder="Masukan nilai severe decelerations" name="severe" id="severe" required>
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input" >
                <span class="label-input100">Prolongued Decelerations</span>
                <span class="tooltiptext">Jumlah penurunan yang lebih lama dalam denyut jantung janin perdetik.</span>
                <input class="input100" type="text" placeholder="Masukan nilai prolongued decelerations" name="prolongued" id="prolongued" required>
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input" >
                <span class="label-input100">Abnormal Short Term Variability</span>
                <span class="tooltiptext">Persentase waktu dalam interval antara denyut jantung janin yang terjadi secara singkat.</span>
                <input class="input100" type="text" placeholder="Masukan nilai abnormal" name="abnormal" id="abnormal" required>
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input">
                <span class="label-input100">Percentage of Time Abnormal Long Term Variability</span>
                <span class="tooltiptext">Persentase waktu dalam interval antara denyut jantung janin yang terjadi dalam jangka waktu panjang.</span>
                <input class="input100" type="text" placeholder="Masukan nilai percentage" name="percentage" id="percentage required>
                <span class="focus-input100"></span>
            </div>

            <div class="container-contact100-form-btn">
                <div class="wrap-contact100-form-btn">
                    <div class="contact100-form-bgbtn"></div>
                    <button class="contact100-form-btn">
                        <span>
                            Prediksi
                            <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>

{% endblock %}